body {
    color: #566787;
	background: #f5f5f5;
	font-family: 'Varela Round', sans-serif;
	font-size: 13px;
}
.table-wrapper {
    background: #fff;
    padding: 20px 25px;
    margin: 30px 0;
	border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-title {        
	padding-bottom: 15px;
	background: #0a2240;
	color: #fff;
	padding: 16px 30px;
	margin: -20px -25px 10px;
	border-radius: 3px 3px 0 0;
}
.table-title h2 {
	margin: 5px 0 0;
	font-size: 24px;
}
.table-title .btn-group {
	float: right;
}
.table-title .btn {
	color: #fff;
	float: right;
	font-size: 13px;
	border: none;
	min-width: 50px;
	border-radius: 2px;
	border: none;
	outline: none !important;
	margin-left: 10px;
}
.table-title .btn i {
	float: left;
	font-size: 21px;
	margin-right: 5px;
}
.table-title .btn span {
	float: left;
	margin-top: 2px;
}
table.table tr th, table.table tr td {
    border-color: #e9e9e9;
	padding: 12px 15px;
	vertical-align: middle;
}
table.table tr th:first-child {
	width: 60px;
}
table.table tr th:last-child {
	width: 100px;
}
table.table-striped tbody tr:nth-of-type(odd) {
	background-color: #fcfcfc;
}
table.table-hover tbody tr:hover {
  background: #0033a1d6;
}
table.table-striped.table-hover tbody tr:hover {
	background: #f5f5f5;
}
table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}	
table.table td:last-child i {
	opacity: 0.9;
	font-size: 22px;
    margin: 0 5px;
}
table.table td a {
	font-weight: bold;
	color: #566787;
	display: inline-block;
	text-decoration: none;
	outline: none !important;
}
table.table td a:hover {
	color: #2196F3;
}
table.table td a.edit {
    color: #FFC107;
}
table.table td a.delete {
    color: #F44336;
}
table.table td i {
    font-size: 19px;
}
table.table .avatar {
	border-radius: 50%;
	vertical-align: middle;
	margin-right: 10px;
}
/*Pagination*/
.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    color: #999 !important;
    border: none !important;
    border-radius: 2px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current{
  background: #03A9F4;
  color: #fff !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
  background: #0397d6;
  color: #fff !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
  background:#eee;
  color: #555 !important;
}

/*Filter box*/
.dataTables_wrapper .dataTables_info{
  color: #566787;
}
.dataTables_wrapper .dataTables_length{
  color: #566787;
  font-weight: normal !important;
}  
.dataTables_wrapper .dataTables_filter {
  color: #566787;
  font-weight: normal !important;
}
label{
  font-weight: normal;
}
input[type=search] {
    -webkit-appearance: searchfield;
}
/* Custom checkbox */
.custom-checkbox {
	position: relative;
}
.custom-checkbox input[type="checkbox"] {    
	opacity: 0;
	position: absolute;
	margin: 5px 0 0 3px;
	z-index: 9;
}
.custom-checkbox label:before{
	width: 18px;
	height: 18px;
}
.custom-checkbox label:before {
	content: '';
	margin-right: 10px;
	display: inline-block;
	vertical-align: text-top;
	background: white;
	border: 1px solid #bbb;
	border-radius: 2px;
	box-sizing: border-box;
	z-index: 2;
}
.custom-checkbox input[type="checkbox"]:checked + label:after {
	content: '';
	position: absolute;
	left: 6px;
	top: 3px;
	width: 6px;
	height: 11px;
	border: solid #000;
	border-width: 0 3px 3px 0;
	transform: inherit;
	z-index: 3;
	transform: rotateZ(45deg);
}
.custom-checkbox input[type="checkbox"]:checked + label:before {
	border-color: #03A9F4;
	background: #03A9F4;
}
.custom-checkbox input[type="checkbox"]:checked + label:after {
	border-color: #fff;
}
.custom-checkbox input[type="checkbox"]:disabled + label:before {
	color: #b8b8b8;
	cursor: auto;
	box-shadow: none;
	background: #ddd;
}
/* Modal styles */
.modal .modal-dialog {
	max-width: 600px;
}
.modal .modal-header, .modal .modal-body, .modal .modal-footer {
	padding: 20px 30px;
}
.modal .modal-content {
	border-radius: 3px;
}
.modal .modal-footer {
	background: #ecf0f1;
	border-radius: 0 0 3px 3px;
}
.modal .modal-title {
    display: inline-block;
}
.modal .form-control {
	border-radius: 2px;
	box-shadow: none;
	border-color: #dddddd;
}
.modal textarea.form-control {
	resize: vertical;
}
.modal .btn {
	border-radius: 2px;
	min-width: 100px;
}	
.modal form label {
	font-weight: normal;
}	
.navbar{
	margin-bottom: 0;
	padding-left: 30px;

}
.container{
	margin:0;
}
.navbar{
	background-color: #0033a1;
}
.text-colour{
	color:white !important;
}
.nav-icon-colour{
	color: white !important;

}
.breadcrumb{
	margin-left: 30px;
}
.btn-primary{
	background-color: #00a1e0;
}
.btn-info{
	background-color: #00a1e0;
}
.logosize{
	    width: 20px;
	    height: 20px;
}

/*User*/
.containeruser{
  margin: auto;
}

.containeruser ul li{
  border-color: #ffff;
}
#upcoming{
  background: #0033a1ba;
  color: #fff;
}

/*calender*/
.widget {
  box-shadow: 0 4px 4px rgba(51, 51, 51, .5);
  position: relative;
  display: block;
  margin: 32px auto;
  font-size: 0;
}
.widget .calender {
  display: inline-block;
  position: relative;
  float: left;
  width: 300px;
  height: 300px;
  box-sizing: border-box;
  background: #fff;
}
.widget .calender__month {
  width: 300px;
  height: 53.57143px;
  background: #0a2240;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(255, 255, 255, 1);
}
.widget .calender__month--text {
  color: rgba(255, 255, 255, 1);
  position: relative;
  display: inline-block;
  margin: 0;
  font-family: Lato, sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  top: 50%;
  transform: translateY(-50%);
}
.widget .calender__month--icon {
  color: rgba(255, 255, 255, 1);
  position: absolute;
  display: inline-block;
  margin: 0;
  font-weight: 700;
  font-size: 1.2rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: default;
}
.widget .calender__month--icon--left {
  left: 37.5px;
}
.widget .calender__month--icon--right {
  right: 37.5px;
}
.widget .calender__days {
  display: inline-block;
  width: 100%;
  height: 246.42857px;
  box-sizing: border-box;
  padding: 25px 37.5px;
}
.widget .calender__cell {
  display: inline-block;
  float: left;
  text-align: center;
  width: 32.14286px;
  height: 32.14286px;
}
.widget .calender__cell--d {
  transition-duration: 0.7s;
  box-sizing: border-box;
}
.widget .calender__cell--d.active {
  background-color: #596a89;
  border: 1px solid white;
}
.widget .calender__cell--d:hover {
  border: 2px solid white;
}
.widget .calender__text--dOfW {
  margin: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: #596a89;
  font-family: Lato, sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1rem;
}
.widget .calender__text--d {
  transition-duration: 0.3s;
  margin: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  cursor: default;
  color: #596a89;
  font-family: Lato, sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1rem;
}
.widget .calender__text--d.active {
  color: #fff;
  font-weight: 700;
}
.widget .schedule {
  display: inline-block;
  float: left;
  width: 300px;
  height: 300px;
  box-sizing: border-box;
  background: rgba(140, 148, 181, 0.46);
}
.widget .schedule__title {
  width: 300px;
  height: 53.57143px;
  position: relative;
  padding: 0 18.75px;
}
.widget .schedule__title--text {
  color: rgba(51, 51, 51, 1);
  position: relative;
  margin: 0;
  font-family: Lato, sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  top: 50%;
  transform: translateY(-50%);
}
.widget .schedule__title--date {
  color: rgba(51, 51, 51, .5);
  position: absolute;
  margin: 0;
  left: 18.75px;
  bottom: 0;
  font-size: 0.7rem;
  font-family: Lato, sans-serif;
}
.widget .schedule__taskWrapper {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 246.42857px;
  box-sizing: border-box;
  padding: 15px 18.75px 18.75px;
}
.widget .schedule__formWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.widget .schedule__form {
  transition-duration: 0.5s;
  transition-timing-function: ease;
  border-radius: 15px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  padding: 0px;
  position: absolute;
  right: 0;
  bottom: 0;
  display: inline-block;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(51, 51, 51, .5);
}
.widget .schedule__form > * {
  transition-duration: 0.5s;
  opacity: 0;
}
.widget .schedule__form > *.show {
  opacity: 1;
}
.widget .schedule__form.show {
  width: 100%;
  height: 100%;
  right: 0px;
  bottom: 0px;
  padding: 20px;
  border-radius: 0 0 15px 0;
}
.widget .schedule__add {
  transition-duration: 0.5s;
  position: absolute;
  right: 18.75px;
  bottom: 18.75px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: calc((30px - 1.2rem)/2);
  text-align: center;
  background-color: #596a89;
  text-align: center;
}
.widget .schedule__add--icon {
  position: relative;
  color: rgba(255, 255, 255, 1);
  transition-duration: 0.5s;
  transition-timing-function: ease;
  user-select: none;
  transform-origin: 50% 50%;
  font-size: 1.2rem;
  font-weight: 700;
  width: 1.2rem;
  height: 1.2rem;
  margin: 0 auto;
  line-heihgt: 1.2rem;
  cursor: default;
}
.widget .schedule__add--icon.active {
  transform: rotate(45deg);
}
.widget .task__time {
  display: block;
  border: none;
  border-bottom: 1px rgba(255, 255, 255, 1) solid;
  width: 50px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 0);
}
.widget .task__time:focus {
  outline: none;
}
.widget .task__name {
  display: block;
  border: none;
  border-bottom: 1px rgba(255, 255, 255, 1) solid;
  width: 150px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 0);
}
.widget .task__name:focus {
  outline: none;
}
.widget .task__add {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-width: 0;
  border-style: none;
  border-radius: 0;
  height: 22px;
  width: 35px;
  background-color: rgba(255, 255, 255, 1);
  color: #596a89;
  font-family: Lato, sans-serif;
  font-size: 0.7rem;
}

/*timeline*/

#timeline {
  list-style: none;
  position: relative;
}
#timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 2px;
  background-color: #4997cd;
  left: 50%;
  margin-left: -1.5px;
}
#timeline .clearFix {
  clear: both;
  height: 0;
}
#timeline .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  font-size: 1.2em;
  text-align: center;
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: -25px;
  background-color: #4997cd;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
#timeline .timeline-badge span.timeline-balloon-date-day {
  font-size: 1.4em;
}
#timeline .timeline-badge span.timeline-balloon-date-month {
  font-size: .7em;
  position: relative;
  top: -10px;
}
#timeline .timeline-badge.timeline-filter-movement {
  background-color: #ffffff;
  font-size: 1.7em;
  height: 35px;
  margin-left: -18px;
  width: 35px;
  top: 40px;
}
#timeline .timeline-badge.timeline-filter-movement a span {
  color: #4997cd;
  font-size: 1.3em;
  top: 3px;
}
#timeline .timeline-badge.timeline-future-movement {
  background-color: #ffffff;
  height: 35px;
  width: 35px;
  font-size: 1.7em;
  top: -16px;
  margin-left: -18px;
}
#timeline .timeline-badge.timeline-future-movement a span {
  color: #4997cd;
  font-size: .9em;
  top: 2px;
  left: 1px;
}
#timeline .timeline-movement {
  border-bottom: dashed 1px #4997cd;
  position: relative;
}
#timeline .timeline-movement.timeline-movement-top {
  height: 60px;
}
#timeline .timeline-movement .timeline-item {
  padding: 20px 0;
}
#timeline .timeline-movement .timeline-item .timeline-panel {
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  background-color: #FFFFFF;
  color: #666;
  padding: 10px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
#timeline .timeline-movement .timeline-item .timeline-panel .timeline-panel-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#timeline .timeline-movement .timeline-item .timeline-panel.credits .timeline-panel-ul {
  text-align: right;
}
#timeline .timeline-movement .timeline-item .timeline-panel.credits .timeline-panel-ul li {
  color: #666;
}
#timeline .timeline-movement .timeline-item .timeline-panel.credits .timeline-panel-ul li span.importo {
  color: #468c1f;
  font-size: 1.3em;
}
#timeline .timeline-movement .timeline-item .timeline-panel.debits .timeline-panel-ul {
  text-align: left;
}
#timeline .timeline-movement .timeline-item .timeline-panel.debits .timeline-panel-ul span.importo {
  color: #e2001a;
  font-size: 1.3em;
}
.container-fluid-carousel{
  padding: 0;
}
 